@model IEnumerable<PryGymV.Models.Ejercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEjercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repeticiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEjercicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeticiones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EjercicioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EjercicioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EjercicioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
